<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_secret</key>
	<string>&quot;2MSFk3to6J7rsU3dLLiReMfuFw13uv9zwEGHZqVy2CEj7NjnrK&quot;</string>
	<key>consumer_key</key>
	<string>&quot;Z3ml5ScgYCKSWf8Op5DGVvHhW&quot;</string>
</dict>
</plist>
